* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#preview-product {
    background: #ff1b68;
    width: 100%;
    height: 528px;
    padding: 10px;
}

.section-title {
    color: green;
}

#preview-product h2 {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.main-header {
    width: 100%;
    background: greenyellow;
    padding: 8px 16px;
}

.main-header > div {
    display: inline-block;
}

.main-nav {
    text-align: right;
    display: inline-block;
    width: calc(100% - 54px);

}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item{
    display: inline-block;
}

